configuration {
font: "JetBrainsMono Nerd Font 10.5";
show-icons: true;
terminal: "alacritty"; 
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

// @theme "gruvbox-dark"
@theme "./themes/nord-dark.rasi"
