configuration {
font: "JetBrainsMono Nerd Font 10.5";
show-icons: true;
terminal: "st";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "./themes/tokyonight.rasi"
